<footer class="wpo-site-footer" id="footer-contact">
  <div class="wpo-upper-footer">
    <div class="container">
      <div class="row">
        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget about-widget">
            <div class="logo widget-title">
              <h1 style="color: white; width: 2000px;">Georgian Metal</h1>
            </div>
            <h3 style="color: white;">Contact Information </h3>
            <p>info georgiametal.ge<br>+995 599 18 47 77</p>
            <div class="social-widget">
              <ul>
                <li><a href="#"><i class="ti-facebook"></i></a></li>
                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="#"><i class="ti-instagram"></i></a></li>
                <li><a href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>Partners</h3>
            </div>
            <ul>
              <li><a href="http://gtmgroup.ge/eng/" target="_blank">GTM Group</a></li>
              <li><a href="https://steelhouse.ge/" target="_blank">Poladis sakhli</a></li>
              <li><a href="https://firstcommoditiesdmcc.com/" target="_blank">First Commodities DMCC</a></li>
              <li><a href="https://www.stemcor.com/" target="_blank">Stemcor Group</a></li>
              <li><a href="http://www.steelcotrading.com/" target="_blank">Steelco for Steel Trading</a></li>
              <li><a href="https://bankofgeorgia.ge/ka/retail" target="_blank">Bank of Georgia</a></li>
              <li><a href="https://www.deltasteel.com/" target="_blank">Delta Steel</a></li>
              <li><a href="https://www.railway.ge/" target="_blank">Georgian Railway</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- end container -->
  </div>
  <div class="wpo-lower-footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <p class="copyright"> Copyright © 2025 LLC GEORGIAN METAL. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
