<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>კონტაქტი</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main class="contact-container">
  <section class="contact-box">
    <h1>საკონტაქტო ინფორმაცია</h1>

    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23680.13778489515!2d43.01981075073653!3d42.10710194676038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa514f1f41920ca07%3A0xb114469dfea9a1ee!2sgeorgiametal!5e0!3m2!1ska!2sge!4v1738720191878!5m2!1ska!2sge"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

    <div class="contact-info">
      <div class="info-group">
        <h2>მისამართი:</h2>
        <p>არგვეთა, ზესტაფონი. 2000</p>
        <p>Argveta, Zestafoni. 2000</p>
      </div>

      <div class="info-group">
        <h2>ტელეფონი:</h2>
        <p>+995 599 18 47 77</p>
      </div>

      <div class="info-group">
        <h2>ელ.ფოსტა:</h2>
        <p>info georgiametal.ge</p>
      </div>
    </div>
  </section>
</main>
</body>
</html>
