<div class="products-container">
  <div class="blue-banner"></div>

  <div class="main-content">
    <img class="product-image" src="assets/gallery-images/armatura.png" alt="Product Image" />

    <div class="product-info">
      <h1 class="product-title">{{ 'PRODUCT_DETAIL.TITLE' | translate }}</h1>

      <div class="product-section">
        <h2>{{ 'PRODUCT_DETAIL.DESCRIPTION_TITLE' | translate }}</h2>
        <p>{{ 'PRODUCT_DETAIL.DESCRIPTION' | translate }}</p>
      </div>

      <div class="product-section">
        <h2>{{ 'PRODUCT_DETAIL.USAGE_TITLE' | translate }}</h2>
        <p>{{ 'PRODUCT_DETAIL.USAGE' | translate }}</p>
      </div>

      <div class="product-section">
        <h2>{{ 'PRODUCT_DETAIL.SIZE_TITLE' | translate }}</h2>
        <p>{{ 'PRODUCT_DETAIL.SIZE' | translate }}</p>
      </div>
    </div>
  </div>
</div>
