<div class="about-heading">
  ჩვენს შესახებ
</div>
<div class="about-subheading">
  შპს "ჯორჯია მეტალი"
</div>

<div class="container">
  <div class="bg-grey" [class.slide-in-left]="bgInView" #bgBox></div>
  <div class="blue-box"></div>
  <div class="headline">
    შპს ჯორჯია მეტალი დაარსდა 2018 წელს, მიზით რომ აეშენებინა თანამედროვე
    მაღალტექნოლოგიური ქარხანა, რომელიც სრულად მიაწვდიდა ბაზარს იმ რაოდენობის
    არმატურას, რაც საკმარისი იქნებოდა მთლიანი ბაზრის იმპორტ-ჩანაცვლებისთვის.
  </div>

  <div class="main-text">
    ასევე კომპანიას ამბიცია აქვს აქტიურად იყოს წარმოდგენილი საერთაშორისო დონეზეც.
    საგლინავი საამქრო ამჟამად მუშაობს ცხელი ტესტირების რეჟიმში. მოსალოდნელია, რომ
    2025 წლის ივნისისთვის ქარხანა შევა სრულმასშტაბიან საწარმო პროცესში. ქარხნის სრული
    მასშტაბით ფუნქციონირების შემდეგ მისი წლიური სიმძლავრე იქნება 400 ათასი ტონა
    არმატურა. დამფუძნებლების გადაწყვეტილებით, იგეგმება პროდუქციის ასორტიმენტის
    გააფართოება და უახლოეს პერიოდში დაიწყება გლინულის წარმოებისთვის დამატებითი ხაზის
    მშენებლობა, პარალელურად ფოლადსადნობი საამქროსი, 80 ტონა/საათში სიმძლავრის
    ელეკტროარკული ღუმელით. შპს “ჯორჯია მეტალ” მდებარეობს ზესტაფონში და ამჟამად
    ასაქმებს 300-ზე მეტ ადამიანს, რომელთა უმრავლესობა ადგილობრივი მოსახლეობაა.
    საუკეთესო შედეგების მისაღწევად, ჩვენს გუნდში მოვიწვიეთ რამდენიმე უცხოელი
    სპეციალისტი, რომელთაც აქვთ 30 წელზე მეტი სამუშაო გამოცდილება დსთ-ს ქვეყნების
    ლიდერ მეტალურგიულ ქარხნებში. დასაქმებულთა რაოდენობა სავარაუდოდ გაორმაგდება იმ
    დროისთვის, როდესაც გაეშვება ფოლადსადნობი საამქრო და დამატებითი ხაზი გლინულას
    წარმოებისთვის.
  </div>

  <div
    class="image-box"
    [class.slide-in-right]="imageInView"
    #imageBox
  >
    <img src="assets/gallery-images/28.jpeg" alt="ქარხნის სურათი" />
  </div>

</div>
