<div class="about-heading">
  {{ 'NAV.ABOUT.HEADING' | translate }}
</div>
<div class="about-subheading">
  {{ 'NAV.ABOUT.SUBHEADING' | translate }}
</div>

<div class="container">
  <div class="bg-grey" [class.slide-in-left]="bgInView" #bgBox></div>
  <div class="blue-box"></div>
  <div class="headline">
    {{ 'NAV.ABOUT.HEADLINE' | translate }}
  </div>

  <div class="main-text">
    {{ 'NAV.ABOUT.TEXT' | translate }}
  </div>

  <div class="image-box" [class.slide-in-right]="imageInView" #imageBox>
    <img src="assets/gallery-images/28.jpeg" [alt]="'NAV.ABOUT.IMAGE_ALT' | translate" />
  </div>
</div>
