<div class="quality-container">
  <div class="quality-box">
    <h1 class="quality-title">{{ 'NAV.QUALITY' | translate }}</h1>

    <div class="faq-item">
      <div class="faq-title" id="t1">
        {{ 'NAV.QUALITY_SECTION.CERTIFICATES.TITLE' | translate }}
        <span class="arrow" id="arrow1">▼</span>
      </div>
      <div class="faq-content" id="c1">
        <!-- აქ არის 2 ფოტო სერთიფიკატების გალერეიდან -->
        <div class="certificate-gallery">
          <div class="certificate-image">
            <img src="/assets/images/c1.png" alt="ISO 9001 Certificate" />
          </div>
          <div class="certificate-image">
            <img src="/assets/images/c2.png" alt="DIN 4882 Certificate" />
          </div>
        </div>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-title" id="t2">
        {{ 'NAV.QUALITY_SECTION.CONTROL.TITLE' | translate }}
        <span class="arrow" id="arrow2">▼</span>
      </div>
      <div class="faq-content" id="c2">
        {{ 'NAV.QUALITY_SECTION.CONTROL.TEXT' | translate }}
      </div>
    </div>
  </div>
</div>
