<div class="quality-container">
  <div class="quality-box">
    <h1 class="quality-title">ხარისხი</h1>

    <div class="faq-item">
      <div class="faq-title" id="t1">
        სერთიფიკატები
        <span class="arrow" id="arrow1">▼</span>
      </div>
      <div class="faq-content" id="c1">
        <!-- აქ არის 2 ფოტო სერთიფიკატების გალერეიდან -->
        <div class="certificate-gallery">
          <div class="certificate-image">
            <img src="/assets/images/c1.png" alt="ISO 9001 Certificate" />
          </div>
          <div class="certificate-image">
            <img src="/assets/images/c2.png" alt="DIN 4882 Certificate" />
          </div>
        </div>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-title" id="t2">
        ხარისხის კონტროლი
        <span class="arrow" id="arrow2">▼</span>
      </div>
      <div class="faq-content" id="c2">
        ხარისხის მართვა
        შპს „ ჯორჯია მეტალ“-ის ხარისხის მართვის სისტემა მუშაობს ISO 9001, DIN-
        4882. კომპანიის ხარისხის კონტროლის სისტემა სერტიფიცირებულია
        ცნობილი და რეპუტაციის მქონე ორგანიზაციის მიერ.
        ჩვენი მთავარი მიზანია, გვქონდეს უმაღლესი ხარისხის პროდუქტი, რათა
        დავაკმაყოფილოთ ყველაზე მოთხოვნადი მომხმარებლები, როგორც
        ადგილობრივ, ისე საერთაშორისო დონეზე. პროდუქციის მაღალი ხარისხის
        უზრუნველსაყოფად, ჩვენ მკაცრად ვაკონტროლებთ იმპორტირებული
        ფოლადის ნამზადის ხარისხს. ჩვენი ხარისხის კონტროლის განყოფილება
        შედგება გამოცდილი სპეციალისტებისგან, რომლებიც მუდმივად
        აკონტროლებენ წარმოების პროცესის ყველა ეტაპს.
        პროდუქციის ტესტირება ტარდება ჩვენს ლაბორატორიაში, რომელიც
        აღჭურვილია თანამედროვე საერთაშორისო სტანდარტების მიხედვით
        დამზადებული უახლესი მოწყობილობებით.      </div>
    </div>
  </div>
</div>
